ul {

	list-style: none;
	padding: 0;
    display: flex;
    gap: 5px;
}

ul li {
	position: relative;
	display: inline-block;
}

ul li a {
	text-decoration: none;
	padding: 10px 15px;
	display: block;
	color: #FFFF;
	background-color: #a1a1a1;
    transition: all .3s;
}

ul li a:hover {
    color: black;
    background-color: #ddd;
}

.toggle-dropdown .dropdown{
    display: none   ;
    visibility: hidden;
    transition: all .5s;
}

.toggle-dropdown .dropdown li {
    display: block;
}

.toggle-dropdown:hover .dropdown{
    display: block;
    visibility: visible;
}

